@use './breakPoints.scss' as *;

@mixin font(
  $_fontSize,
  $_lineHeight,
  $_fontWeight: 400,
  $_fontFamily: var(--font-primary),
  $_letterSpacing: normal
) {
  font-weight: $_fontWeight;
  font-size: $_fontSize;
  line-height: $_lineHeight;
  font-family: $_fontFamily;
  letter-spacing: $_letterSpacing;
}

@mixin titleFont{
  @include font(64px, 72px, 400, var(--font-secondary));
  @include mf-s-breakpoint{
    @include font(124px, 124px, 400, var(--font-secondary));
  }
}

@mixin titleFontSmall{
  @include font(44px, 48px, 400, var(--font-secondary));
  @include mf-s-breakpoint{
    @include font(124px, 124px, 400, var(--font-secondary));
  }
}